#page-wrap{
	width:636px;
	margin:0px auto 0;
	padding:10px;
}

.content{
	width:250px;
	margin:0 auto;
	padding:15px 30px;
	background:#fff;
	float:left;
}

a{
	text-decoration:none;
}

#button-one a{
	width:150px;
	height:50px;
	padding:0;
	display:block;
	text-align:center;
	line-height:48px;
	font-family: 'Play', sans-serif;
	font-size:24px;
	font-weight:bold;
	color:#fff;
	margin:10px auto;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	border-width:2px;
	border-style:solid;
	border-color:#ccc #333 #777;
	
	background: #878787; /* Old browsers */
	background: -moz-linear-gradient(top, #878787 6%, #3d3d3d 49%, #000000 50%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#878787), color-stop(49%,#3d3d3d), color-stop(50%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #878787 6%,#3d3d3d 49%,#000000 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #878787 6%,#3d3d3d 49%,#000000 50%,#000000 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #878787 6%,#3d3d3d 49%,#000000 50%,#000000 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #878787 6%,#3d3d3d 49%,#000000 50%,#000000 100%); /* W3C */
}

#button-one a:active{
	background: #878787; /* Old browsers */
	background: -moz-linear-gradient(top, #878787 6%, #3d3d3d 19%, #000000 21%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#878787), color-stop(19%,#3d3d3d), color-stop(21%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #878787 6%,#3d3d3d 19%,#000000 21%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #878787 6%,#3d3d3d 19%,#000000 21%,#000000 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #878787 6%,#3d3d3d 19%,#000000 21%,#000000 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #878787 6%,#3d3d3d 19%,#000000 21%,#000000 100%); /* W3C */
}